body {
  max-width: 500px;
  margin: 50px auto;
}

.blog-header {
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  display: flex;
  gap: 10px;
}

.nav-bar li {
  list-style: none;
}

.nav-bar li a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-bar li a:hover {
  color: blue;
}